{% extends 'base.html.twig' %}

{% block title %}Hello JobOfferController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    {% for job in datas %}
    <p>{{ job.description }} ({{ job.offerType }})</p>
    <p>Entreprise : {{ job.company.companyName }}</p>
    {% endfor %}

</div>
{% endblock %}
