{% extends 'admin/headerLayout.html.twig' %}

{% block body %}
<div>  <a href="#" class="text-decoration-none mb-3 d-block text-muted">Retour</a>

 <div class="form-section" style="">
      <h3>Créer une entreprise</h3>
      <p>Remplissez les informations pour créer un nouvel utilisateur</p>
      <form action="" id="form-section">
        <div class="containerDiv">
            <div class="mb-3">
                <label for="nom" class="form-label">Nom de l'entreprise *</label>
                <input type="text" style="width: 100%;" class="form-control" id="nom" placeholder="Nom de l'entreprise">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email *</label>
                <input type="email" style="width: 100%;" class="form-control" id="email" placeholder="exemple@exemple.exemple">
            </div>
        </div>

        <div class="mb-3">
          <label for="mdp" class="form-label">Mot de passe *</label>
          <input type="password" class="form-control" id="mdp" placeholder="••••••••">
        </div>
        <div class="mb-3">
          <label for="role" class="form-label">Rôle *</label>
          <select class="form-select" id="role">
            <option selected>Company</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description de l'entreprise</label>
          <textarea class="form-control" id="description" rows="4" placeholder="Décrivez votre entreprise..."></textarea>
        </div>
        <div>
            <button type="submit" class="">Annuler</button>
            <button type="submit" class="btn btn-primary">Créer l'entreprise</button>
        </div>
      </form>
    </div>

{% endblock %}
