<div class="topbar d-flex justify-content-between align-items-center border-bottom bg-white px-3 py-2">
    <!-- Gauche -->
    <h2 class="m-0" id="text-entete">{{ title }}</h2>

    <!-- Droite -->
    <div class="d-flex align-items-center" style="height:8vh;">
        <span class="me-3">admin</span>
        <i class="bi bi-bell me-3"></i>
        <i class="bi bi-gear"></i>
    </div>
</div>
