/* PAGE GLOBALE */
.job-page {
    padding: 30px;
    max-width: 1000px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    background: #f3f4f6;
}

.page-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #111111;
}

/* RECHERCHE */
.search-wrapper {
    display: flex;
    max-width: 450px;
    margin-bottom: 25px;
    border-radius: 50px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.search-wrapper input {
    flex: 1;
    padding: 12px 18px;
    border: none;
    outline: none;
    font-size: 14px;
}

.search-btn {
    background: #1e40af; /* bleu foncé */
    color: #fff;
    border: none;
    padding: 0 20px;
    cursor: pointer;
    transition: background .3s;
}

.search-btn:hover {
    background: #2563eb;
}

/* LISTE DES OFFRES */
.job-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* CARTE OFFRE */
.job-card {
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 14px;
    padding: 24px;
    margin-bottom: 20px;
    transition: all .2s ease;
}

.job-card:hover {
    border-color: #1148ff;
}

.job-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-title a {
    font-size: 22px;
    font-weight: 600;
    color: #0830e2;
    text-decoration: none;
}

.job-meta {
    display: flex;
    align-items: center;
    gap: 10px;
}

.job-contract {
    font-size: 13px;
    color: #555;
}

.badge-urgent {
    background: #000;
    color: #fff;
    font-size: 11px;
    padding: 4px 10px;
    border-radius: 999px;
    font-weight: 600;
}

.job-info {
    margin-top: 12px;
    font-size: 13px;
    color: #666;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.btn-details {
    display: inline-block;
    margin-top: 14px;
    padding: 8px 18px;
    border-radius: 999px;
    border: 1px solid #000;
    color: #000;
    text-decoration: none;
    font-size: 13px;
}

.btn-details:hover {
    background: #000;
    color: #fff;
}


/* BOUTON VOIR L’OFFRE PETIT ET GRIS */
.btn-details.btn-small {
    width: fit-content;
    padding: 6px 14px;
    background: #e5e7eb; /* gris clair */
    color: #111;
    font-size: 13px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    transition: background 0.3s;
}

.btn-details.btn-small:hover {
    background: #d1d5db; /* gris un peu plus foncé */
}

/* PAGINATION */
.pagination-wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.no-result {
    text-align: center;
    color: #777;
    margin-top: 40px;
}
.badge-urgent{
    
    color: #ffffff;
   background-color: red;
   border: solid;
}