

#text-entete{
    font-size: 4vh;
}

.sidebar {
    width: 250px;
    background-color: #ffffff;
    color: white;
    height: 100vh;
    position: fixed;
    }
.work{
    font-family:monospace;
    font-size: 5vh;
    font-style: oblique;
}

.sidebar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    margin-left: 2vh;
    }

.sidebar a:hover {
    color: white;
    background-color: #495057;

}
#titrenom{
    color: white;
    background-color: black;
}
.recherche-form{
    padding: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.C{
    height: 5vh;
    width: 6vh;
    background-color: #495057;
    border-radius: 50% 50%;
    margin: 0;
    padding:0;
    color: white;
}
#C{
    height: 5vh;
    border-radius: 20px 20px 20px 20px;
    margin-right: 1vh;
}
#C::placeholder{
    margin-left:2vh ;
}
.content {
    margin-left: 250px;
    background-color: whitesmoke;

    }

.topbar {
    background-color: white;
    padding: 10px 20px;
    border-bottom: 1px solid #dee2e6;
 }
.graph-legend span {
    margin-right: 15px;
}
.graph-legend i {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}
 /* dashboard  */
.c{
  border-radius: 6px;
  box-shadow:-0.1em 0 0.2em rgb(188, 187, 187);
  padding: 2vh;
  height: 23vh;
  background-color: white;
}
.h6tilte{
    font-size: 2.8vh;
}
#sd{
    margin: 0;
    padding: 0;
    margin-left: 1vh;
}
.card-metric .card-body {
    display: flex;
    flex-direction: column;
}

.text-Total{
    color: #717375dc;
    width: 100%;
    font-size: small;
}
.nbrOffer{
    font-size: 7vh;
    margin-right: 1vh;
}


/*form pour insert company*/
.form-section {
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.05);
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0 auto;

}
#form-section{
    width: 70%;
}
    .form-section h3 {
      margin-bottom: 10px;
    }
    .form-section p {
      margin-bottom: 30px;
      color: #6c757d;
    }
/*nom de l entreprise et email*/
.containerDiv{
    display: flex;
    flex-direction: row;
    gap: 3vh;
    width: 100%;
}
#nomInput{
    width: 50%;
}
.form-foot{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    height: 10vh;
}
.Annuler{
    width: 35%;
    height: 10vh;
    background-color: #343a4000;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: 1px solid black;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s;
}
.creer{
    width: 35%;
    height: 10vh;
    background-color: black;
    color: white;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 30px;
}

.Annuler:hover{
    transition: 0.5s;
    color: rgb(0, 0, 0);
    background-color: black;
    color: white;
    font-weight: bold;
    border: 1px solid rgb(255, 255, 255);
}

th.tc{
    color: #9fa0a1 !important;
    font-size: 1.8vh;
}
.tcnom{
    font-size: 2.3vh;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

