
.a_btn_ajouter{
    background-color: rgb(0, 0, 0);
    padding: 1.5vh 5vh;
    margin-top: 2vh;
    border-radius: 20px;
    text-decoration: none;
    color: aliceblue;
    margin-left: 140vh;
}

.conteActivite{
    display:flex ;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: relative;
}

.conteActivite div{
    position: absolute;
    right: 5vh;
}


.toggle-btn {
    background-color: #e0e0e0;
    color: #000;
    font-weight: normal;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.toggle-btn.active {
    background-color: #fff;
    box-shadow: 0 0 0 1px #ccc;
    border-radius: 5px;
}

.parMois{
    display: none;
    flex-direction: row;
    gap: 1vh;
    margin-left: 1vh;
}




