{% extends 'layout/layout_frontend/connexionDepart.html.twig' %}


{% block auth_content %}
	<h2>Créer un compte</h2>
	<form>
		<input type="text" placeholder="Nom">
		<input type="email" placeholder="Email">
		<input type="password" placeholder="Mot de passe">
		<button class="btn-primary">S’inscrire</button>
	</form>
{% endblock %}
