<header class="header">
    <h1>Gestion de Company</h1>

    <div class="header-right">
        <i class="icon-settings">⚙️</i>
        <img src="https://i.pravatar.cc/40" class="avatar">
        <a class="logout" href="">Sign Out</a>
    </div>
</header>
