<header class="header">
	<h1 class="page-title">Gestion de Company</h1>


	<div class="header-right">
		<i class="icon-settings">
			<i class="bi bi-gear"></i>
		</i>
		<img src="https://i.pravatar.cc/40" class="avatar">
		<a class="logout" href="">Sign Out</a>
	</div>
</header>
