<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>{% block title %}Auth{% endblock %}</title>
<link rel="stylesheet" href="{{ asset('styles/loginDepart.css') }}">

</head>
<body>


<div class="login-container">


<!-- BACKGROUND LEFT -->
<div class="login-left">
<div class="overlay"></div>
<h1 class="brand">Nextwork</h1>
</div>


<!-- CONTENT RIGHT -->
<div class="login-right">
{% block auth_content %}{% endblock %}
</div>


</div>


</body>
</html>