<form method="post" action="/job/offer/insert" onsubmit="return confirm('insert');">
    <input type="text" name="offerType" >
    <input type="text" name="description" >
    <input type="date" name="date_creation" >
    <input type="date" name="dealine" >
    <input type="text" name="companyName" >
    <button class="btn" >ajouter</button>
</form>

